body {
    margin: 0;background: linear-gradient(to right, #1A2980, #26D0CE);

}

h1 {
    font-size: 2.8em;
    background: rgba(0, 0, 0, 0.7); 
    color: white;
    padding: 20px 0px;
    margin: 0;
    text-align: center;
}

#centro, .meio {
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.meio {
    margin-top: 30px;
}


#centro2 {
    margin-top:50px;
    display: flex;
    justify-content: center;
}


button {
    padding: 10px;
    font-size: 1.5em;
    background-color: skyblue;
    border-radius: 8px;
    border: none;

}

#btn, #btn2 {
    padding: 30px;
    font-size: 1.9em;
    background-color: skyblue;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.39);
    border: 0;
    border-radius: 8px;
}



button:hover {
    box-shadow: 3px 3px 10px rgb(90, 175, 209) !important;
}

.image {
    margin: auto;
    width: 100px;
    aspect-ratio: 1;
}

#resposta {
    margin-top: 10px;
    margin-bottom: 50px;
}

.personalizar {
    font-size: 1.7em;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    color: #fff; /* Cor do texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    border-radius: 7px;
}

#resposta:has(#image) {
    background-color: #1A2980;
}


#individual {
    display: block;
    margin: auto;
    color: white;
    padding: 20px 50px;
    background-color: rgba(0, 0, 0, 0.514);
    width: fit-content;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#fechar {
    margin-bottom: 10px;
    background-color: rgb(172, 21, 21);
    padding: 10px;
    border-radius: 10px;
    display: block;
    text-align: center;
}

#lista {
    /* display: none; */
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#lista > li {
    background-color: skyblue;
    padding: 15px;
    font-size: 1.5em;
    list-style: none;
    border-radius: 10px;
    margin: 10px 0;
    text-align: center;
}
#lista > button {
    display: block;
    background-color: skyblue;
    padding: 15px;
    font-size: 1.5em;
    list-style: none;
    border-radius: 10px;
    margin: 10px 0;
    text-align: center;
    margin: 10px auto;
    width: 190px;
}

#manter-individual, #varias-menagens-res {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    background-color: rgb(10, 100, 10);
}

#desligar {
    padding: 4px;
    margin-top: 20px;
    background-color: red;
    text-align: center;
    width: fit-content;
    border-radius: 10px;
}


#individual.varias-mensagens {
    margin-top: 40px;
    width: fit-content;
    padding: 20px 40px;
}

h2 {
    font-size: 2.2em;
    text-align: center;
}